.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 283px;
  margin: 23px 23px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: -248px 606px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 269px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -234px;
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 169px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -134px;
    margin-right: 0;
  }
}